body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  position: relative;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  margin: 5% auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1.5rem;
  font-weight: normal;
}

p {
  line-height: 2;
}

hr {
  border-style: dotted;
  border-color: #EAF6F6;
  border-width: 0 0 5px 0;
  width: 3%;
}

a {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  bottom: 0;
  width: 100%;
  height: 7.5rem;
  color: #EAF6F6;
  padding-top: 2%;
}

.intro {
  width: 50%;
  margin: auto;
}

.skill-row {
    width: 50%;
    margin: 5% auto 5% auto;
    text-align: left;
    line-height: 2;
  }

.mountain {
  vertical-align: bottom;
}

.top-cloud {
  position: absolute;
  top: 15%;
  right: 30%;
}

.bottom-cloud {
  position: absolute;
  top: 35%;
  left: 30%;
}

.profile-img {
  width: 20%;
}

.html-img {
  width: 10%;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.css-img {
  width: 10%;
  float: right;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.profile {
  margin: 5% auto;
  width: 50%;
}

.contact-message {
  width: 50%;
  margin: 5% auto 5% auto;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 5% auto 5% auto;
  line-height: 2;
}

.btn {
background: #11cdd4;
background-image: -webkit-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
-webkit-border-raius: 8;
-moz-border-radius: 8px;
border-radius: 8px;
font-family: 'Montserrat', sans-serif;
color: #EAF6F6;
font-size:1.5rem;
padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btn:hover {
background-image: -webkit-gradient(top, #30e3cb, #2bc4ad);
background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
text-decoration: none;
}

.footer-link {
  color: #11999E;
  padding-left: 2;
  margin: 1% 1%;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
  text-decoration: none;
}

.footer-copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}
